<%= form_for(Picture.new, html: { multipart: true, class: "dropzone", id: 'new_upload' }) do |f| %>
    <div class="fallback">
      <%= f.file_field :image %><br>
      <%= f.submit "Upload" %>
    </div>
<% end %>