<h1>NN results</h1>
<h2>Preview</h2>
<div class="ui card">
  <%= image_tag @picture.image.url(:thumb), width: '100px' %>
  <div class="content">
    <a class="header"><%= @picture.image.original_filename %></a>
  </div>
</div>

<h2>Nearest results</h2>
<div class="ui eight special cards">
  <% @result.each do |p, percent| %>
      <div class="card">
        <%= image_tag p.image.url(:thumb), size: "100x100" %>
        <%= (percent * 100).round(2) %>%
      </div>
  <% end %>
</div>