<h1>Listing Pictures</h1>

<div class="ui five special cards">
  <% @pictures.each do |p| %>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                Interest Point count: <%# p.interest_points.count %><br>
                Cluster count: <%# p.cluster.count %><br>
                <div class="ui inverted buttons">
                  <%# link_to 'Euclidean', picture_path(p, method: 'euclidean', threshold: @threshold), class: 'ui teal button' %>
                  <%# link_to 'SQFT', picture_path(p, method: 'sqft', threshold: @threshold), class: 'ui teal button' %>
                </div>
                <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>
              </div>
            </div>
          </div>
          <%= image_tag p.image.url %>
        </div>
      </div>
  <% end %>
</div>